<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block htmlTitle %}
            <title>{{ config.getProjectTitle() }}</title>
        {% endblock %}

        <link rel="stylesheet" href="{{ config.getTemplateRoot() }}asset/css/ftest.css" />
    </head>
    <body>

        {%  block pageLogo %}
            {% if config.getProjectLogo()  %}
                <img src="{{ config.getProjectLogo() }}" />
            {% endif %}
        {% endblock %}

        {% block pageTitle %}
        <h1>{{ config.getProjectTitle() }}</h1>
        {% endblock %}

        {% block pageIntro %}
            <p>bla bla bla</p>
            <p>Take a look at some usage examples</p>
        {% endblock %}

        {% for test in tests %}
        	{% include 'testItem.html.twig' with {'test' : test} %}
        {% endfor %}

        {% block javascript %}
            <script type="text/javascript" src="{{ config.getTemplateRoot() }}asset/js/ext-core-debug.js"></script>
            <script type="text/javascript" src="{{ config.getTemplateRoot() }}asset/js/ftest.js"></script>
        {% endblock %}
    </body>
</html>