
<div class="test results {{ test.getName() }}">
    <a name="test.{{  test.getName() }}"></a>
    <h2>{{ test.getTitle() }}</h2>
    <p>{{ test.getDescription() }}</p>

    {% if test.getResult().getCode() > 0 %}
       <p class="unstable"><strong>Not stable</strong> {{ test.getResult().getCode() }}: {{ test.getResult().getMessage() }}</p>
    {% endif %}

    <div class="codeContainer">
        <h3 class="code"><a href="#">Code:</a></h3>
        <pre class="code">
    {{ test.getCode() }}
        </pre>
    </div>
</div>