{% set stable = (0 == test.getResult().getCode())
   %}
<div class="test results {{ test.getName()|escape }}">
    <a name="test.{{  test.getName() }}"></a>
    <h2 class="{% if not stable %}unstable{% endif %}">{{ test.getTitle() }}
    {% if not stable %}
       <span class="unstable"><strong>Not stable</strong> {{ test.getResult().getCode() }}: {{ test.getResult().getMessage() }}</span>
    {% endif %}
    </h2>
    <p>{{ test.getDescription() }}</p>


    {% set results = test.renderResults() %}
    {% if results %}
        <h3>Result:</h3>
        {{ results|raw }}
    {% endif %}

    <div class="codeContainer">
        <h3 class="code"><a href="#">Code:</a></h3>
        <pre class="code brush: php;">
    {{ test.getCode() }}
        </pre>
    </div>
</div>